/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/OpenDyslexic-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/OpenDyslexic-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
body.dyslexia-font,
body.dyslexia-font * {
    font-family: 'Lexend', sans-serif !important;
}
